body  {
    background-image: url("images/cool-background.png");
    background-size: 200%;
    

  }

.text-logo {
    font-size: 40px !important;
}

.border-top {
    border-top: 2px solid grey !important;
}

.text-logo2 {
    font-size: 50px !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6c757d;
    color: black;
    text-align: center;
    border-top: turquoise solid 4px;
    padding-top: 20px;
  }

  .container {
      width: 60%;
  }