body  {
    background-image: url("images/concrete.jpg");
    background-color: #cccccc;
  }

.text-logo {
    font-size: 40px !important;
}

.border-top {
    border-top: 2px solid grey !important;
}

.text-logo2 {
    font-size: 50px !important;
}
