/* Global CSS */
body  {
    background-image: url("images/cool-background.png");
    background-size: 200%;
    margin-bottom: 200px;
  }
/* Navbar name text size */
.text-logo {
    font-size: 40px !important;
}
/* Content container size */
.container {
    width: 80%;
}

/* Content h2 text size */
.text-logo2 {
    font-size: 50px !important;
}

/* Border below h2 */
.border-top {
    border-top: 2px solid grey !important;
}

/* Sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: turquoise solid 4px;
  }
  
/* Portfolio CSS - image/button positioning */
.img1 {
    position: relative;
}

.btn1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.btn2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}



.info {
    width: 80%;
    text-align: center;
}